
ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
  }

p{
    color: red;
  }
  
#id-selector-demo {
    color: green
  }
  
note{
    font-size: 20px;
  }

li[value="4"]{
    color: blue;
  }

color-title{
    font-weight: normal;
  }
img{
    height: 200px;
    width: 200px;
 }

#red{
    color: red;
 }
#blue{
    color: blue;
 }
#orange{
    color: orange;
 }

#green{
    color: green;
}
